<h3 class="text-center">Costumer Information</h3>
<br clear="all">
<form name="validForm" class="form-horizontal col-sm-6 center-block">
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="name" required>
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" ng-model="email" required>
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="phone" required>
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Address</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="address" required>
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">City</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="city" required>
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">State</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="state" required>
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Zipcode</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="zipcode" required>
		</div>
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-primary center-block" value="Save" ng-click="save()">
	</div>
</form>